.cart-el {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.cart-counter {
    padding: 10px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: center;
}

button {
    background-color: none;
}
.operator {
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}